/* Definir cores tema Dark */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* onte Inter :
    font-family: "inter", sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;*/

:root {
  --fonte-corpo: "roboto", sans-serif;
  --fonte-menu: "Inter", sans-serif;
  --fonte-titulo: "League Spartan", sans-serif;
}

:root,
:root[data-theme="dark"] {
  --cor-fundo: #1b1b1b;
  --cor-fundo-secundaria: #9c9c9c;
  --cor-texto: #cccccc;
  --cor-icone: #ffc504;
  --cor-link: #ffffff;
  --cor-hover: #000000;
  --cor-menu: #666666;
  --cor-borda: #e9e9e9;
  --cor-menu-mobile: #ffffff;
  --cor-menu-icon: #5296e4;
  --cor-menu-icon-hover: #2b4d74;
  --cor-titulo: #ffffff;
  --btn-texto-hover: #5296e4;
  --btn-fundo: #22333f;
  --cor-sombra: rgb(0, 0, 0);
  --btn-texto: #ffffff;
  --scrollbar: #bbbbbb;
  --icone-menu-mobile: #e9e9e9;
  --cor-borda-cinza: #bbbbbb;
}

/* Definir cores tema Light */
:root[data-theme="light"] {
  --cor-fundo: #f0f0f0;
  --cor-fundo-secundaria: #888888;
  --cor-texto: #111217;
  --cor-icone: #333333;
  --cor-link: #ffffff;
  --cor-hover: #f0f0f0;
  --cor-menu: #c3c3c3;
  --cor-borda: #333333;
  --cor-menu-mobile: #000000;
  --cor-menu-icon: #5296e4;
  --cor-menu-icon-hover: #2b4d74;
  --cor-titulo: #000000;
  --cor-sombra: rgb(0, 0, 0);
  --btn-texto: #000000;
  --btn-texto-hover: #5296e4;
  --btn-fundo: #353c41;
  --scrollbar: #777777;
  --icone-menu-mobile: #0b0b0f;
  --cor-borda-cinza: #bbbbbb;
}

html {
  scroll-behavior: smooth;
}

html[data-theme="light"] .logo {
  filter: invert(1);
  transition: all 1s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

body {
  background: var(--cor-fundo);
  color: var(--cor-texto);
  transition: all 1s ease-out;
  /* font-family: ; */
}

a {
  text-decoration: none;
  color: var(--cor-link);
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0, 4rem;
  font-weight: normal;
}

/*Sobre*/
h3 {
  font-size: 1.55rem;
  margin-bottom: 10px;
}
/*Sobre*/

h4 {
  color: var(--cor-titulo);
  font-family: var(--fonte-titulo);
  font-size: 1.55rem;
  font-weight: 400;
  /*letter-spacing: 0.1rem;*/
  letter-spacing: 2px;
}

h1,
h2,
h3 {
  font-family: var(--fonte-titulo);
  text-transform: uppercase;
  color: var(--cor-titulo);
  font-weight: 200;
}

strong {
  font-weight: 400;
  color: var(--cor-titulo);
  font-style: normal; /*font-style: italic;*/
}

p,
span,
li {
  font-size: 1rem;
  font-family: var(--fonte-corpo);
}

p {
  text-align: justify;
  font-family: var(--fonte-corpo);
}

#header {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 200;
  position: fixed;
  border-bottom: 1px solid var(--cor-borda);
  background: var(--cor-fundo);
  background: var(--cor-menu);
}

.menu-desktop {
  display: none;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-texto {
  color: var(--cor-texto);
  text-transform: uppercase;
  font-size: 1rem;
  /* tamanho da Fonte */
  font-weight: 600;
  font-family: var(--fonte-titulo);
  font-style: normal;
  text-rendering: optimizeLegibility;
}

.menu-link.active .menu-texto,
.menu-link:hover .menu-texto {
  color: var(--cor-hover);
  transition: all 1s ease-out;
}

/* Icones Redes Sociais */
.social-icon {
  color: var(--cor-menu-icon);
  font-size: 1.5rem;
  transition: all 1s ease-out;
}

.menu-link:hover .social-icon {
  color: var(--cor-menu-icon-hover);
  transition: all 1s ease-out;
}

.logo {
  width: 3.25rem;
  height: 1.89rem;
}

.header-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#toggleTheme {
  cursor: pointer;
  color: var(--cor-icone);
  font-size: 1.2rem;
  /* tamanho fonte */
  transition: all 0.3s ease-in-out;
}

/* Menu Mobile */

#menuMobile {
  margin-left: 1rem;
}

.btn-menu-mobile {
  background: transparent;
  color: var(--icone-menu-mobile);
  border: none;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Menu Mobile (estilo e animação) */

.menu-mobile {
  /* nav */
  position: fixed;
  top: 0;
  right: 0;
  background: var(--cor-fundo-secundaria);
  z-index: 100;
  transform: translateX(100%);
  display: flex;
  flex-direction: column; /* voltar */
  padding-top: 4rem;
  border-left: 1px solid var(--cor-borda);
  height: 100vh; /* VH viewport height substitui %*/
  width: 75vw; /* VW viewport width substitui %*/
  transition: transform 1s ease-in-out; /*transição menu*/

  transition: all 1s ease-out;
}

.menu-mobile.active {
  transform: translateX(0%);
}

.menu-mobile .menu-lista {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}

.menu-mobile .menu-link {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 0;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-social {
  gap: 1.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--cor-titulo);
  cursor: pointer;
  padding: 0.5rem 1.5em;
  border-radius: 1rem 1rem;
  width: 100%;
  transition: 0.3s ease-in-out;
  gap: 0.625rem;
}

.btn-primario {
  border: 1px solid var(--cor-titulo);
}

.btn:hover {
  transform: scale(1.01);
  transition: ease-in-out 0.5s;
  background: var(--cor-fundo-secundaria);
}

.btn span,
.btn i {
  color: var(--cor-icone);
}

.btn:hover span,
.btn:hover i {
  color: var(--cor-hover);
}

.video iframe {
  width: 80%;
  aspect-ratio: 16/9;
  box-shadow: 0px 2px 5px -2px var(--cor-sombra);
}

/* Centralizar DIV*/
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Centralizar DIV*/

#home,
.projetos,
.sobre,
.contato {
  padding: 2.5rem 1rem;
}

.conhecimento {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  padding: 6.25rem 1rem 2rem;
  margin-top: -5rem;
}

.conhecimento h2 {
  font-size: 2rem;
  text-transform: 2rem;
  text-transform: none;
  letter-spacing: normal;
}

/* Projetos */
.projetos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  scroll-margin-top: 2.5rem;
}

.projetos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projetos-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-cover {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px -2px var(--cor-sombra); /*Sombra*/
}

.img-tamanho {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 420px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 15px;
}

.card-title {
  color: var(--fonte-titulo);
  font-weight: 400;
  font-family: var(--fonte-titulo);
  font-size: 2rem;
}

.card-description {
  font-size: 1.25rem;
  color: var(--cor-texto);
  font-family: var(--fonte-corpo);
}

.card-lista {
  margin-left: 1.25rem;
  font-family: var(--fonte-menu);
}

.card-item i {
  margin-right: 10px;
}

.card-item {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.card-item i:hover {
  color: var(--cor-menu-icon);
  transition: all 1s ease-out;
}

.card-button {
  display: flex;
  flex-flow: row wrap; /* se tiver dois botões = Usar o Row e Wrap */
  justify-content: center;
  align-items: center;
}

.projetos .btn-primario {
  width: 100%;
  /*margin: auto; Ajuste botão
  width: auto;*/
}
.card-button i {
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.sobre {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  scroll-margin-top: 2.5rem;
}

.sobre h2 {
  /*text-align: start;*/
  text-align: center;
}
.sobre-content1,
.sobre-content2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}
.sobre-logo {
  /*Imagem Avatar*/
  width: 100%;
  /* max-width: 700px;*/
  border-radius: 50rem;
  border: 0.5rem double var(--cor-menu-icon);
  /*border: 6px solid var(--cor-menu-icon);*/
  pointer-events: none;
}
.sobre-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.sobre-description p {
  color: var(--cor-titulo);
  font-size: 1.4rem;
}

.sobre-icones {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.sobre-icones i {
  font-size: 1.25rem;
  color: var(--cor-icone);
  transition: all 1s ease-out;
}

.sobre-icones i:hover {
  font-size: 1.25rem;
  filter: brightness(50%);
  transition: all 1s ease-out;
}

.sobre-icones span {
  font-family: var(--fonte-corpo);
}
.sobre-content2 .col1,
.sobre-content2 .col2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 2rem;
}

.sobre-content2 .col1 .row1,
.sobre-content2 .col1 .row2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/*Accordion FAQ*/
.accordion {
  display: inline-block;
  width: 100%;
}
.accordion-header {
  display: flex;
  width: 100%;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  text-align: start;
  border: 1px solid var(--cor-borda);
  color: var(--btn-titulo);
  cursor: pointer;
}

.accordion-body {
  display: none;
  padding: 1.25rem;
  color: var(--cor-titulo);
  border: 1px solid var(--cor-borda);
  gap: 0.6rem;
  flex-direction: column;
  align-items: flex-start;
}

.accordion-item.active .accordion-body {
  display: flex;
}

.bi-caret-down-fill {
  /*animação inversa*/
  transition: all 0.3s ease-out;
}
.accordion-item.active .bi-caret-down-fill {
  /*animação fechando*/
  transform: rotate(180deg);
  transition: all 0.3s ease-out;
}
.accordion-header {
  font-weight: 400;
  font-family: var(--fonte-titulo);
  text-transform: uppercase;
  transition: all 1s ease-out;
}
.accordion-header:hover {
  background: var(--cor-menu);
  transition: all 0.5s ease-out;
}
.accordion-item.active .accordion-header {
  background: var(--cor-menu);
  transition: all 0.5s ease-out;
}

.accordion-item {
  width: 100%;
  display: inline-block;
}

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid var(--cor-borda-cinza);
  border-bottom: 1px solid var(--cor-borda-cinza);
}
.contato p {
  text-align: center;
}

.contato .btn {
  width: auto;
  color: var(--cor-texto);
}

.contato .menu-social {
  justify-content: center;
  align-items: center;
  color: var(--cor-texto);
  line-height: 2;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  margin-top: 3rem;
}

.contato-formulario,
.contato-mapa {
  width: 100%;
}

.contato-formulario h2 {
  margin-bottom: 1rem;
  color: var(--cor-titulo);
  text-align: start;
}

.texto_redes-sociais {
  color: var(--cor-texto);
}

.form-contato {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-contato input,
.form-contato textarea {
  width: 100%;
  padding: 0.3rem 0.75rem;
  font-size: 1rem;
  color: var(--cor-titulo);
  background: var(--cor-fundo-secundaria);
  border: none;
}
.contato-mapa iframe {
  width: 100%;
  height: 100%;
  min-width: 400px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 10px var(--cor-hover);
}
/* Medidas Responsivas */
/* Até 768px - Mobile */
/* Medidas Responsivas */
@media (max-width: 768px) {
  /* Até 768px */
  #home {
    padding-top: 6rem;
  }
  .contato-grid {
    grid-template-columns: 1fr;
  }

  .contato-formulario,
  .contato-mapa {
    width: 100%;
  }

  .contato-formulario {
    text-align: center;
  }
}

@media (min-width: 768px) {
  /* A partir de 768px ate o infinito */
  #header {
    padding: 1rem 6rem;
  }

  .menu-desktop {
    display: flex;
    /* FLEXBOX */
    min-width: 30%;
  }

  .header-toggle {
    min-width: 30%;
  }

  .btn-menu-mobile {
    display: none;
  }

  #home,
  .projetos,
  .sobre {
    padding: 8rem 6rem 4rem 6rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .projetos h2 {
    padding-bottom: 5rem;
  }
  .contato {
    padding: 6rem;
  }

  .contato p {
    width: 80%;
  }

  footer {
    margin: 0px;
  }
} /* Fim min-width 768  */

@media (min-width: 992px) {
  .projetos-card {
    flex-direction: row;
  }

  .sobre {
    gap: 5rem;
  }

  /* GRID BOX */

  .sobre-content1,
  .sobre-content2 {
    display: grid;
    grid-template-columns: 34% 60%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }

  .card-cover {
    width: 55%;
  }

  .projetos-card.card-reverse {
    flex-direction: row-reverse;
    /*text-align: right;*/
  }

  .projetos h2 {
    padding-bottom: 5rem;
  }
  .card-button .btn,
  .description-button .btn {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .main-content .btn {
    width: 110%;
  }
  h2 {
    font-size: 4rem;
  }
  #home {
    padding: 6rem 6rem 2rem;
  }

  .projetos h2 {
    padding-bottom: 5rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.25rem;
  }

  .projetos h2 {
    padding-bottom: 5rem;
  }

  h2 {
    font-size: 4.5rem;
  }
  /*Sobre*/
  h3 {
    font-size: 3.25rem;
  }
  /*Sobre*/
  .conhecimento,
  .projetos,
  .sobre {
    padding: 10rem 15rem 4rem;
  }

  .conhecimento h2 {
    font-size: 3.5rem;
    text-align: start;
  }
}
