
/*\\\\\\\\\\\\\\\\\ESTILOS AVANÇADOS\\\\\\\\\\\\\\\\\*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*Definição do thema Dark*/
:root,
:root[data-theme="dark"] {
    --cor-fundo: #1b1b1b;
    --cor-fundo-secundaria: #9c9c9c;
    --cor-texto: #cccccc;
    --cor-icone: #ffc504;
    --cor-link: #FFFFFF;
    --cor-hover: #000000;
    --cor-menu: #666666;
    --cor-borda: #e9e9e9;
    --cor-menu-mobile: #ffffff;
    --cor-menu-icon: #5296e4;
    --cor-menu-icon-hover: #2b4d74;
}
/*Definição do thema Light*/
:root[data-theme="light"] {
    --cor-fundo: #f0f0f0;
    --cor-fundo-secundaria: #888888;
    --cor-texto: #111217;
    --cor-icone: #333333;
    --cor-link: #FFFFFF;
    --cor-hover: #f0f0f0;
    --cor-menu: #c3c3c3;
    --cor-borda: #333333;
    --cor-menu-mobile: #000000;
    --cor-menu-icon: #5296e4;
    --cor-menu-icon-hover: #2b4d74;
}
html[data-theme="light"] .logo{
    filter: invert(1);
    transition: all 1s ease-out;
}

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
    transition: all 1s ease-out;
    /*font-family: ;*/
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}

ul {
    list-style: none;
}

#header {
    display: flex; /*Usada para criar projetos Mobile - esse container é responsivo*/
    flex-wrap: row wrap; /*Serve para quebrar a linha automaticamente preservando o menu na horizontal*/
    justify-content: space-between; /* espaço "entre" espaços ele se torna justificado*/
    align-items: center;
    width: 100%;
    background: var(--cor-menu);
    padding: 0.5rem 1rem; /*rem é baseado no tamanho da fonte do elemento raiz do documento (normalmente 16px). */
    z-index: 100;
    position: fixed;
    border-bottom: 1px solid var(--cor-borda);
    background: var(--cor-menu);

}
.logo {
    width: 3.25rem;
    height: 1.89rem;
}

.menu-desktop {
    display: none;
}
.header-toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

#toggleTheme {
    cursor: pointer;
    color: var(--cor-icone);
    font-size: 1.2rem;
}

#menuMobile {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    color: var(--cor-menu-mobile);
    border: none;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Menu mobile - Estilo e Animação */

.menu-mobile { /* Nav */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo-secundaria);
    z-index: 50;
    transform: translateX(100%);
    display: flex;
    flex-direction: column; /* Voltar*/
    padding-top: 4rem;
    border-left: 1px solid var(--cor-borda);
    height: 100vh; /* VH viewport height substitui %*/
    width: 75vw; /* VW viewport width substitui %*/
    transition: transform 1s ease-in-out; /*transição menu*/

}

.menu-mobile.active {
    transform: translateX(0);/*transição menu*/
}

.menu-mobile .menu-lista {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding:  1rem 1rem 2rem;
}

.menu-mobile .menu-link {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 0;

}

.menu-link.active .menu-texto,
.menu-link:hover .menu-texto,
 {
    color: var(--cor-hover);

}

.menu-texto {
    color: var(--cor-texto);
    text-transform: uppercase;
    font-size: 0.75rem ; /* Tamanho da Fonte*/
    font-weight: 600;
}

/*.menu-link.active .social-icon,*/
.menu-link:hover .social-icon  {

    color: var(--cor-menu-icon-hover);
    transition: all 0.3s ease-out;

}


.social-icon {
    color: var(--cor-menu-icon);
    transition: all 0.3s ease-out;

}
/*\\\\\\\\\\\\\\\\\ESTILOS AVANÇADOS\\\\\\\\\\\\\\\\\*/

.menu {
    display: flex;
    gap: 1rem; /*espaço automático entre os contaners/elementos*/
    align-items: center;
}


/* Medidas Responsivas */

@media (min-width: 768px) { /* resolução de 768 para cima */

    .menu-desktop {
        display: flex;
        min-width: 32%;
    }
    .header-toggle {
        min-width: 32%;
    }
    .btn-menu-mobile {
        display: none;
    }

    #home {
        padding-top: 6rem;
        transition: all 1s ease-out;

    }
}

@media (max-width: 767px) { /* resolução de 767 para baixo */

      #home {
        padding-top: 6rem;
        transition: all 1s ease-out;

    }
}
